@{
    ViewData["Title"] = "Index";
}

<div class="padded-container">
    <a href="@ViewData["AuthenticationUrl"]">Authenticate App</a>
</div>
<!-- <a asp-area="" asp-controller="TwitchData" asp-action="Index">Debug API Calls</a> -->